/.git/
/.idea/
/.vscode/
/.yarn/
/node_modules/
/src/
/*.iml
/.browserlistrc
/.editorconfig
/.env
/.eslintrc.json
/.gitattributes
/.gitignore
/.npmignore
/.prettierrc.json
/.travis.yml
/.yarnrc.yml
/package-lock.json
/rollup.config.js
/tsconfig.eslint.json
/tsconfig.json
/yarn.lock
/yarn-error.log
